contourpy==1.3.3
cycler==0.12.1
fonttools==4.64.0
formulaic==1.2.2
interface_meta==2.0.1
kiwisolver==1.5.1
matplotlib==3.11.1
narwhals==2.25.0
numpy==2.5.2
packaging==26.3
pandas==3.0.5
patsy==1.0.3
pillow==12.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
scipy==1.18.1
seaborn==0.13.2
six==1.17.0
statsmodels==0.15.0
typing_extensions==4.16.0
tzdata==2026.3
wrapt==2.4.0
